In [1]:
import pandas as pd

In [2]:
data= pd.read_csv('climate-data-wRegion.csv', na_values='..')

In [3]:
test_series = ['CO2 emissions per capita (metric tons)',
         'Energy use per capita (kilograms of oil equivalent)',
          'Cereal yield (kg per hectare)']

In [4]:
data.head(1)

,Country code,Country name,Country region,Series code,Series name,SCALE,Decimals,1990,1991,1992,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ABW,Aruba,Latin America & Caribbean,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,29.57,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.columns

Index(['Country code', 'Country name', 'Country region', 'Series code',
       'Series name', 'SCALE', 'Decimals', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011'],
      dtype='object')

In [6]:
id_cols = ['Country code', 'Country name', 'Country region', 'Series code', 'Series name', 'SCALE']

In [7]:
year_cols = ['1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011']

In [8]:
melted = pd.melt(data, id_vars=id_cols, value_vars=year_cols, var_name='year')

In [9]:
melted.to_csv('climate-data-melted.csv',index=False, na_rep='..')

In [10]:
melted.head()

,Country code,Country name,Country region,Series code,Series name,SCALE,year,value
0,ABW,Aruba,Latin America & Caribbean,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,29.57
1,ADO,Andorra,Europe & Central Asia,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,0
2,AFG,Afghanistan,South Asia,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,0
3,AGO,Angola,Sub-Saharan Africa,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,0.21
4,ALB,Albania,Europe & Central Asia,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,4.97

In [11]:
melted['Country name'].unique()

array(['Aruba', 'Andorra', 'Afghanistan', 'Angola', 'Albania',
       'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas, The', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bermuda', 'Bolivia', 'Brazil', 'Barbados',
       'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland',
       'Channel Islands', 'Chile', 'China', "Cote d'Ivoire", 'Cameroon',
       'Congo, Rep.', 'Cook Islands', 'Colombia', 'Comoros', 'Cape Verde',
       'Costa Rica', 'Cuba', 'Curacao', 'Cayman Islands', 'Cyprus',
       'Czech Republic', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria', 'East Asia & Pacific',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.', 'Euro area',
       'Eritrea', 'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji',
       'France', 'Faeroe Islands', 'Micronesia, Fed. Sts.', 'Gabon',
       'United Kingdom', 'Georgia', 'Ghana', 'Gibraltar', 'Guinea',
       'Gambia, The', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece',
       'Grenada', 'Greenland', 'Guatemala', 'Guam', 'Guyana',
       'High income', 'Hong Kong SAR, China', 'Honduras', 'Croatia',
       'Haiti', 'Hungary', 'Indonesia', 'Isle of Man', 'India', 'Ireland',
       'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel', 'Italy',
       'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'Korea, Rep.', 'Kosovo', 'Kuwait', 'Latin America & Caribbean',
       'Lao PDR', 'Lebanon', 'Liberia', 'Libya', 'St. Lucia', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Lithuania', 'Luxembourg',
       'Latvia', 'Macao SAR, China', 'St. Martin (French part)', 'Morocco',
       'Monaco', 'Moldova', 'Madagascar', 'Maldives', 'Mexico',
       'Marshall Islands', 'Middle income', 'Macedonia, FYR', 'Mali',
       'Malta', 'Myanmar', 'Middle East & North Africa', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'Mayotte', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Niue',
       'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Palau',
       'Papua New Guinea', 'Poland', 'Puerto Rico', 'Korea, Dem. Rep.',
       'Portugal', 'Paraguay', 'French Polynesia', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'South Asia', 'Saudi Arabia',
       'Sudan', 'Senegal', 'Singapore', 'Small island developing states',
       'Solomon Islands', 'Sierra Leone', 'El Salvador', 'San Marino',
       'Somalia', 'Serbia', 'Sub-Saharan Africa', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan', 'Timor-Leste', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania',
       'Uganda', 'Ukraine', 'Upper middle income', 'Uruguay',
       'United States', 'Uzbekistan', 'St. Vincent and the Grenadines',
       'Venezuela, RB', 'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu',
       'West Bank and Gaza', 'World', 'Samoa', 'Yemen, Rep.',
       'South Africa', 'Congo, Dem. Rep.', 'Zambia', 'Zimbabwe'], dtype=object)

In [12]:
# Find a country with a missing value for 'CO2 emissions per capita (metric tons)'
tmp = melted[['Country name', 'Series name', 'year', 'value']]
tmp[(tmp['value'].isnull()) 
   &(tmp['year'] == '1990')
   &(tmp['Series name'] == 'CO2 emissions per capita (metric tons)')]

,Country name,Series name,year,value
1865,Andorra,CO2 emissions per capita (metric tons),1990,NaN
1871,Armenia,CO2 emissions per capita (metric tons),1990,NaN
1872,American Samoa,CO2 emissions per capita (metric tons),1990,NaN
1876,Azerbaijan,CO2 emissions per capita (metric tons),1990,NaN
1885,Bosnia and Herzegovina,CO2 emissions per capita (metric tons),1990,NaN
1886,Belarus,CO2 emissions per capita (metric tons),1990,NaN
1898,Channel Islands,CO2 emissions per capita (metric tons),1990,NaN
1910,Curacao,CO2 emissions per capita (metric tons),1990,NaN
1913,Czech Republic,CO2 emissions per capita (metric tons),1990,NaN
1921,Europe & Central Asia,CO2 emissions per capita (metric tons),1990,NaN
1925,Eritrea,CO2 emissions per capita (metric tons),1990,NaN
1927,Estonia,CO2 emissions per capita (metric tons),1990,NaN
1933,"Micronesia, Fed. Sts.",CO2 emissions per capita (metric tons),1990,NaN
1936,Georgia,CO2 emissions per capita (metric tons),1990,NaN
1947,Guam,CO2 emissions per capita (metric tons),1990,NaN
1952,Croatia,CO2 emissions per capita (metric tons),1990,NaN
1956,Isle of Man,CO2 emissions per capita (metric tons),1990,NaN
1967,Kazakhstan,CO2 emissions per capita (metric tons),1990,NaN
1969,Kyrgyz Republic,CO2 emissions per capita (metric tons),1990,NaN
1974,Kosovo,CO2 emissions per capita (metric tons),1990,NaN
1983,Liechtenstein,CO2 emissions per capita (metric tons),1990,NaN
1987,Lesotho,CO2 emissions per capita (metric tons),1990,NaN
1988,Lithuania,CO2 emissions per capita (metric tons),1990,NaN
1990,Latvia,CO2 emissions per capita (metric tons),1990,NaN
1992,St. Martin (French part),CO2 emissions per capita (metric tons),1990,NaN
1994,Monaco,CO2 emissions per capita (metric tons),1990,NaN
1995,Moldova,CO2 emissions per capita (metric tons),1990,NaN
2001,"Macedonia, FYR",CO2 emissions per capita (metric tons),1990,NaN
2006,Montenegro,CO2 emissions per capita (metric tons),1990,NaN
2008,Northern Mariana Islands,CO2 emissions per capita (metric tons),1990,NaN
2014,Mayotte,CO2 emissions per capita (metric tons),1990,NaN
2034,Puerto Rico,CO2 emissions per capita (metric tons),1990,NaN
2041,Russian Federation,CO2 emissions per capita (metric tons),1990,NaN
2052,San Marino,CO2 emissions per capita (metric tons),1990,NaN
2054,Serbia,CO2 emissions per capita (metric tons),1990,NaN
2058,Slovak Republic,CO2 emissions per capita (metric tons),1990,NaN
2059,Slovenia,CO2 emissions per capita (metric tons),1990,NaN
2062,Sint Maarten (Dutch part),CO2 emissions per capita (metric tons),1990,NaN
2065,Turks and Caicos Islands,CO2 emissions per capita (metric tons),1990,NaN
2069,Tajikistan,CO2 emissions per capita (metric tons),1990,NaN
2070,Turkmenistan,CO2 emissions per capita (metric tons),1990,NaN
2071,Timor-Leste,CO2 emissions per capita (metric tons),1990,NaN
2076,Tuvalu,CO2 emissions per capita (metric tons),1990,NaN
2079,Ukraine,CO2 emissions per capita (metric tons),1990,NaN
2083,Uzbekistan,CO2 emissions per capita (metric tons),1990,NaN
2086,Virgin Islands (U.S.),CO2 emissions per capita (metric tons),1990,NaN
2089,West Bank and Gaza,CO2 emissions per capita (metric tons),1990,NaN

In [13]:
melted[(melted['Country name'] == "Puerto Rico") & 
       (melted['year'] == "1990") & 
       (melted['Series name'].isin(test_series))]

,Country code,Country name,Country region,Series code,Series name,SCALE,year,value
636,PRI,Puerto Rico,Latin America & Caribbean,AG.YLD.CREL.KG,Cereal yield (kg per hectare),0,1990,1080
1568,PRI,Puerto Rico,Latin America & Caribbean,EG.USE.PCAP.KG.OE,Energy use per capita (kilograms of oil equiva...,0,1990,NaN
2034,PRI,Puerto Rico,Latin America & Caribbean,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1990,NaN

In [14]:
# 4/27 7PM: added Puerto Rico to get some missing values
countries_to_keep = ['China', 'United States', 'New Zealand', 'World', 'Puerto Rico']
test_set = melted[melted['Country name'].isin(countries_to_keep)]

In [15]:
test_set[test_set['Country name'] == 'Puerto Rico']

,Country code,Country name,Country region,Series code,Series name,SCALE,year,value
170,PRI,Puerto Rico,Latin America & Caribbean,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,7.73
403,PRI,Puerto Rico,Latin America & Caribbean,AG.LND.IRIG.AG.ZS,Agricultural land under irrigation (% of total...,0,1990,NaN
636,PRI,Puerto Rico,Latin America & Caribbean,AG.YLD.CREL.KG,Cereal yield (kg per hectare),0,1990,1080
869,PRI,Puerto Rico,Latin America & Caribbean,BX.KLT.DINV.WD.GD.ZS,"Foreign direct investment, net inflows (% of GDP)",0,1990,NaN
1102,PRI,Puerto Rico,Latin America & Caribbean,EG.ELC.ACCS.ZS,Access to electricity (% of total population),0,1990,NaN
1335,PRI,Puerto Rico,Latin America & Caribbean,EG.USE.COMM.GD.PP.KD,"Energy use per units of GDP (kg oil eq./$1,000...",0,1990,NaN
1568,PRI,Puerto Rico,Latin America & Caribbean,EG.USE.PCAP.KG.OE,Energy use per capita (kilograms of oil equiva...,0,1990,NaN
1801,PRI,Puerto Rico,Latin America & Caribbean,EN.ATM.CO2E.KT,"CO2 emissions, total (KtCO2)",0,1990,NaN
2034,PRI,Puerto Rico,Latin America & Caribbean,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1990,NaN
2267,PRI,Puerto Rico,Latin America & Caribbean,EN.ATM.CO2E.PP.GD.KD,"CO2 emissions per units of GDP (kg/$1,000 of 2...",0,1990,NaN
2500,PRI,Puerto Rico,Latin America & Caribbean,EN.ATM.GHGO.KT.CE,"Other GHG emissions, total (KtCO2e)",0,1990,NaN
2733,PRI,Puerto Rico,Latin America & Caribbean,EN.ATM.METH.KT.CE,"Methane (CH4) emissions, total (KtCO2e)",0,1990,NaN
2966,PRI,Puerto Rico,Latin America & Caribbean,EN.ATM.NOXE.KT.CE,"Nitrous oxide (N2O) emissions, total (KtCO2e)",0,1990,NaN
3199,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.AERT,Annex-I emissions reduction target,Text,1990,NaN
3432,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.DRSK.XQ,Disaster risk reduction progress score (1-5 sc...,0,1990,NaN
3665,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.GHGR.MT.CE,GHG net emissions/removals by LUCF (MtCO2e),0,1990,NaN
3898,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.HCDM,Hosted Clean Development Mechanism (CDM) projects,Text,1990,NaN
4131,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.HJIP,Hosted Joint Implementation (JI) projects,Text,1990,NaN
4364,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.HPPT.MM,"Average annual precipitation (1961-1990, mm)",Text,1990,NaN
4597,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.ICER,Issued Certified Emission Reductions (CERs) fr...,Text,1990,NaN
4830,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.IERU,Issued Emission Reduction Units (ERUs) from JI...,Text,1990,NaN
5063,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.MDAT.ZS,"Droughts, floods, extreme temps (% pop. avg. 1...",0,1990,NaN
5296,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.MMDT.C,"Average daily min/max temperature (1961-1990, ...",Text,1990,NaN
5529,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.NAMA,NAMA submission,Text,1990,NaN
5762,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.NAPA,NAPA submission,Text,1990,NaN
5995,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.NCOM,Latest UNFCCC national communication,Text,1990,NaN
6228,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.PCAT.C,Projected annual temperature change (2045-2065...,Text,1990,NaN
6461,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.PCCC,Projected change in annual cool days/cold nights,Text,1990,NaN
6694,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.PCHW,Projected change in annual hot days/warm nights,Text,1990,NaN
6927,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.PCPT.MM,Projected annual precipitation change (2045-20...,Text,1990,NaN
...,...,...,...,...,...,...,...,...
290446,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.PCHW,Projected change in annual hot days/warm nights,Text,2011,12.8 / 24.2
290679,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.PCPT.MM,Projected annual precipitation change (2045-20...,Text,2011,-133 to 37
290912,PRI,Puerto Rico,Latin America & Caribbean,EN.CLC.RNET,Renewable energy target,Text,2011,NaN
291145,PRI,Puerto Rico,Latin America & Caribbean,EN.POP.EL5M.ZS,Population below 5m (% of total),0,2011,NaN
291378,PRI,Puerto Rico,Latin America & Caribbean,EN.URB.MCTY.TL.ZS,Population in urban agglomerations >1million (%),0,2011,NaN
291611,PRI,Puerto Rico,Latin America & Caribbean,ER.H2O.FWTL.ZS,Annual freshwater withdrawals (% of internal r...,0,2011,NaN
291844,PRI,Puerto Rico,Latin America & Caribbean,ER.LND.PTLD.ZS,Nationally terrestrial protected areas (% of t...,0,2011,NaN
292077,PRI,Puerto Rico,Latin America & Caribbean,IC.BUS.EASE.XQ,Ease of doing business (ranking 1-183; 1=best),0,2011,43.00
292310,PRI,Puerto Rico,Latin America & Caribbean,IE.PPI.ENGY.CD,Invest. in energy w/ private participation ($),0,2011,NaN
292543,PRI,Puerto Rico,Latin America & Caribbean,IE.PPI.TELE.CD,Invest. in telecoms w/ private participation ($),0,2011,NaN
292776,PRI,Puerto Rico,Latin America & Caribbean,IE.PPI.TRAN.CD,Invest. in transport w/ private participation ($),0,2011,NaN
293009,PRI,Puerto Rico,Latin America & Caribbean,IE.PPI.WATR.CD,Invest. in water/sanit. w/ private participati...,0,2011,NaN
293242,PRI,Puerto Rico,Latin America & Caribbean,IQ.CPA.PUBS.XQ,Public sector mgmt & institutions avg. (1-6 sc...,0,2011,NaN
293475,PRI,Puerto Rico,Latin America & Caribbean,IS.ROD.PAVE.ZS,Paved roads (% of total roads),0,2011,NaN
293708,PRI,Puerto Rico,Latin America & Caribbean,NY.GDP.MKTP.CD,GDP ($),0,2011,NaN
293941,PRI,Puerto Rico,Latin America & Caribbean,NY.GNP.PCAP.CD,GNI per capita (Atlas $),0,2011,NaN
294174,PRI,Puerto Rico,Latin America & Caribbean,SE.ENR.PRSC.FM.ZS,Ratio of girls to boys in primary & secondary ...,0,2011,NaN
294407,PRI,Puerto Rico,Latin America & Caribbean,SE.PRM.CMPT.ZS,"Primary completion rate, total (% of relevant ...",0,2011,NaN
294640,PRI,Puerto Rico,Latin America & Caribbean,SH.DYN.MORT,"Under-five mortality rate (per 1,000)",0,2011,NaN
294873,PRI,Puerto Rico,Latin America & Caribbean,SH.H2O.SAFE.ZS,Access to improved water source (% of total pop.),0,2011,NaN
295106,PRI,Puerto Rico,Latin America & Caribbean,SH.MED.NUMW.P3,"Nurses and midwives (per 1,000 people)",0,2011,NaN
295339,PRI,Puerto Rico,Latin America & Caribbean,SH.MED.PHYS.ZS,"Physicians (per 1,000 people)",0,2011,NaN
295572,PRI,Puerto Rico,Latin America & Caribbean,SH.MLR.INCD,"Malaria incidence rate (per 100,000 people)",0,2011,NaN
295805,PRI,Puerto Rico,Latin America & Caribbean,SH.STA.ACSN,Access to improved sanitation (% of total pop.),0,2011,NaN
296038,PRI,Puerto Rico,Latin America & Caribbean,SH.STA.MALN.ZS,"Child malnutrition, underweight (% of under ag...",0,2011,NaN
296271,PRI,Puerto Rico,Latin America & Caribbean,SI.POV.DDAY,Population living below $1.25 a day (% of total),0,2011,NaN
296504,PRI,Puerto Rico,Latin America & Caribbean,SP.POP.GROW,Population growth (annual %),0,2011,NaN
296736,PRI,Puerto Rico,Latin America & Caribbean,SP.POP.TOTL,Population,0,2011,NaN
296969,PRI,Puerto Rico,Latin America & Caribbean,SP.URB.GROW,Urban population growth (annual %),0,2011,NaN
297201,PRI,Puerto Rico,Latin America & Caribbean,SP.URB.TOTL,Urban population,0,2011,NaN

In [16]:
test_set.head()

,Country code,Country name,Country region,Series code,Series name,SCALE,year,value
36,CHN,China,East Asia & Pacific,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,1.38
161,NZL,New Zealand,East Asia & Pacific,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,2.74
170,PRI,Puerto Rico,Latin America & Caribbean,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,7.73
218,USA,United States,North America,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,1.72
226,WLD,World,Aggregates,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,1.6

In [17]:
test_set.year.unique()

array(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011'], dtype=object)

In [18]:
test_set = test_set[test_set['year'].isin(['1990', '1991'])]

In [19]:
test_set['Series name'].unique()

array(['Land area below 5m (% of land area)',
       'Agricultural land under irrigation (% of total ag. land)',
       'Cereal yield (kg per hectare)',
       'Foreign direct investment, net inflows (% of GDP)',
       'Access to electricity (% of total population)',
       'Energy use per units of GDP (kg oil eq./$1,000 of 2005 PPP $)',
       'Energy use per capita (kilograms of oil equivalent)',
       'CO2 emissions, total (KtCO2)',
       'CO2 emissions per capita (metric tons)',
       'CO2 emissions per units of GDP (kg/$1,000 of 2005 PPP $)',
       'Other GHG emissions, total (KtCO2e)',
       'Methane (CH4) emissions, total (KtCO2e)',
       'Nitrous oxide (N2O) emissions, total (KtCO2e)',
       'Annex-I emissions reduction target',
       'Disaster risk reduction progress score (1-5 scale; 5=best)',
       'GHG net emissions/removals by LUCF (MtCO2e)',
       'Hosted Clean Development Mechanism (CDM) projects',
       'Hosted Joint Implementation (JI) projects',
       'Average annual precipitation (1961-1990, mm)',
       'Issued Certified Emission Reductions (CERs) from CDM (thousands)',
       'Issued Emission Reduction Units (ERUs) from JI (thousands)',
       'Droughts, floods, extreme temps (% pop. avg. 1990-2009)',
       'Average daily min/max temperature (1961-1990, Celsius)',
       'NAMA submission', 'NAPA submission',
       'Latest UNFCCC national communication',
       'Projected annual temperature change (2045-2065, Celsius)',
       'Projected change in annual cool days/cold nights',
       'Projected change in annual hot days/warm nights',
       'Projected annual precipitation change (2045-2065, mm)',
       'Renewable energy target', 'Population below 5m (% of total)',
       'Population in urban agglomerations >1million (%)',
       'Annual freshwater withdrawals (% of internal resources)',
       'Nationally terrestrial protected areas (% of total land area)',
       'Ease of doing business (ranking 1-183; 1=best)',
       'Invest. in energy w/ private participation ($)',
       'Invest. in telecoms w/ private participation ($)',
       'Invest. in transport w/ private participation ($)',
       'Invest. in water/sanit. w/ private participation ($)',
       'Public sector mgmt & institutions avg. (1-6 scale; 6=best)',
       'Paved roads (% of total roads)', 'GDP ($)',
       'GNI per capita (Atlas $)',
       'Ratio of girls to boys in primary & secondary school (%)',
       'Primary completion rate, total (% of relevant age group)',
       'Under-five mortality rate (per 1,000)',
       'Access to improved water source (% of total pop.)',
       'Nurses and midwives (per 1,000 people)',
       'Physicians (per 1,000 people)',
       'Malaria incidence rate (per 100,000 people)',
       'Access to improved sanitation (% of total pop.)',
       'Child malnutrition, underweight (% of under age 5)',
       'Population living below $1.25 a day (% of total)',
       'Population growth (annual %)', 'Population',
       'Urban population growth (annual %)', 'Urban population'], dtype=object)

In [20]:
test_set = test_set[test_set["Series name"].isin(test_series)]

In [21]:
test_set.head(3)

,Country code,Country name,Country region,Series code,Series name,SCALE,year,value
502,CHN,China,East Asia & Pacific,AG.YLD.CREL.KG,Cereal yield (kg per hectare),0,1990,4324.6
627,NZL,New Zealand,East Asia & Pacific,AG.YLD.CREL.KG,Cereal yield (kg per hectare),0,1990,5033.9
636,PRI,Puerto Rico,Latin America & Caribbean,AG.YLD.CREL.KG,Cereal yield (kg per hectare),0,1990,1080

In [22]:
test_set.shape

(30, 8)

In [23]:
test_set[test_set['value'].isnull()]

,Country code,Country name,Country region,Series code,Series name,SCALE,year,value
1568,PRI,Puerto Rico,Latin America & Caribbean,EG.USE.PCAP.KG.OE,Energy use per capita (kilograms of oil equiva...,0,1990,NaN
2034,PRI,Puerto Rico,Latin America & Caribbean,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1990,NaN
15080,PRI,Puerto Rico,Latin America & Caribbean,EG.USE.PCAP.KG.OE,Energy use per capita (kilograms of oil equiva...,0,1991,NaN
15546,PRI,Puerto Rico,Latin America & Caribbean,EN.ATM.CO2E.PC,CO2 emissions per capita (metric tons),0,1991,NaN

In [24]:
test_set.to_csv('climate-data-melted--debugging_set.csv',index=False, na_rep='..')

In [25]:
test_set['Country name'].unique()

array(['China', 'New Zealand', 'Puerto Rico', 'United States', 'World'], dtype=object)