In [1]:
import pandas as pd

In [2]:
data= pd.read_csv('climate-data.csv')

In [3]:
data.head(1)

,Country code,Country name,Series code,Series name,SCALE,Decimals,1990,1991,1992,1993,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ABW,Aruba,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,29.57,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [4]:
data.columns

Index(['Country code', 'Country name', 'Series code', 'Series name', 'SCALE',
       'Decimals', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011'],
      dtype='object')

In [5]:
id_cols = ['Country code', 'Country name', 'Series code', 'Series name', 'SCALE']

In [6]:
year_cols = ['1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011']

In [7]:
melted = pd.melt(data, id_vars=id_cols, value_vars=year_cols, var_name='year')

In [8]:
melted.to_csv('climate-data-melted.csv',index=False)

In [9]:
melted.head()

,Country code,Country name,Series code,Series name,SCALE,year,value
0,ABW,Aruba,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,29.57
1,ADO,Andorra,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,0.00
2,AFG,Afghanistan,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,0.00
3,AGO,Angola,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,0.21
4,ALB,Albania,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,4.97