In [1]:
import pandas as pd

In [2]:
data= pd.read_csv('climate-data-wRegion.csv')

In [3]:
data.head(1)

,Country code,Country name,Country region,Series code,Series name,SCALE,Decimals,1990,1991,1992,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,ABW,Aruba,Latin America & Caribbean,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1,29.57,..,..,...,..,..,..,..,..,..,..,..,..,..

In [4]:
data.columns

Index(['Country code', 'Country name', 'Country region', 'Series code',
       'Series name', 'SCALE', 'Decimals', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011'],
      dtype='object')

In [5]:
id_cols = ['Country code', 'Country name', 'Country region', 'Series code', 'Series name', 'SCALE']

In [6]:
year_cols = ['1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011']

In [7]:
melted = pd.melt(data, id_vars=id_cols, value_vars=year_cols, var_name='year')

In [8]:
melted.to_csv('climate-data-melted.csv',index=False)

In [9]:
melted.head()

,Country code,Country name,Country region,Series code,Series name,SCALE,year,value
0,ABW,Aruba,Latin America & Caribbean,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,29.57
1,ADO,Andorra,Europe & Central Asia,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,0.00
2,AFG,Afghanistan,South Asia,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,0.00
3,AGO,Angola,Sub-Saharan Africa,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,0.21
4,ALB,Albania,Europe & Central Asia,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,4.97

In [10]:
melted['Country name'].unique()

array(['Aruba', 'Andorra', 'Afghanistan', 'Angola', 'Albania',
       'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas, The', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bermuda', 'Bolivia', 'Brazil', 'Barbados',
       'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland',
       'Channel Islands', 'Chile', 'China', "Cote d'Ivoire", 'Cameroon',
       'Congo, Rep.', 'Cook Islands', 'Colombia', 'Comoros', 'Cape Verde',
       'Costa Rica', 'Cuba', 'Curacao', 'Cayman Islands', 'Cyprus',
       'Czech Republic', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria', 'East Asia & Pacific',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.', 'Euro area',
       'Eritrea', 'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji',
       'France', 'Faeroe Islands', 'Micronesia, Fed. Sts.', 'Gabon',
       'United Kingdom', 'Georgia', 'Ghana', 'Gibraltar', 'Guinea',
       'Gambia, The', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece',
       'Grenada', 'Greenland', 'Guatemala', 'Guam', 'Guyana',
       'High income', 'Hong Kong SAR, China', 'Honduras', 'Croatia',
       'Haiti', 'Hungary', 'Indonesia', 'Isle of Man', 'India', 'Ireland',
       'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel', 'Italy',
       'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'Korea, Rep.', 'Kosovo', 'Kuwait', 'Latin America & Caribbean',
       'Lao PDR', 'Lebanon', 'Liberia', 'Libya', 'St. Lucia', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Lithuania', 'Luxembourg',
       'Latvia', 'Macao SAR, China', 'St. Martin (French part)', 'Morocco',
       'Monaco', 'Moldova', 'Madagascar', 'Maldives', 'Mexico',
       'Marshall Islands', 'Middle income', 'Macedonia, FYR', 'Mali',
       'Malta', 'Myanmar', 'Middle East & North Africa', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'Mayotte', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Niue',
       'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Palau',
       'Papua New Guinea', 'Poland', 'Puerto Rico', 'Korea, Dem. Rep.',
       'Portugal', 'Paraguay', 'French Polynesia', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'South Asia', 'Saudi Arabia',
       'Sudan', 'Senegal', 'Singapore', 'Small island developing states',
       'Solomon Islands', 'Sierra Leone', 'El Salvador', 'San Marino',
       'Somalia', 'Serbia', 'Sub-Saharan Africa', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan', 'Timor-Leste', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania',
       'Uganda', 'Ukraine', 'Upper middle income', 'Uruguay',
       'United States', 'Uzbekistan', 'St. Vincent and the Grenadines',
       'Venezuela, RB', 'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu',
       'West Bank and Gaza', 'World', 'Samoa', 'Yemen, Rep.',
       'South Africa', 'Congo, Dem. Rep.', 'Zambia', 'Zimbabwe'], dtype=object)

In [11]:
test_set = melted[melted['Country name'].isin(['China', 'France', 'United States', 'New Zealand', 'World'])]

In [12]:
test_set.head()

,Country code,Country name,Country region,Series code,Series name,SCALE,year,value
36,CHN,China,East Asia & Pacific,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,1.38
67,FRA,France,Europe & Central Asia,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,2.07
161,NZL,New Zealand,East Asia & Pacific,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,2.74
218,USA,United States,North America,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,1.72
226,WLD,World,Aggregates,AG.LND.EL5M.ZS,Land area below 5m (% of land area),0,1990,1.60

In [13]:
test_set.year.unique()

array(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011'], dtype=object)

In [14]:
test_set = test_set[test_set['year'].isin(['1990', '1991'])]

In [15]:
test_set['Series name'].unique()

array(['Land area below 5m (% of land area)',
       'Agricultural land under irrigation (% of total ag. land)',
       'Cereal yield (kg per hectare)',
       'Foreign direct investment, net inflows (% of GDP)',
       'Access to electricity (% of total population)',
       'Energy use per units of GDP (kg oil eq./$1,000 of 2005 PPP $)',
       'Energy use per capita (kilograms of oil equivalent)',
       'CO2 emissions, total (KtCO2)',
       'CO2 emissions per capita (metric tons)',
       'CO2 emissions per units of GDP (kg/$1,000 of 2005 PPP $)',
       'Other GHG emissions, total (KtCO2e)',
       'Methane (CH4) emissions, total (KtCO2e)',
       'Nitrous oxide (N2O) emissions, total (KtCO2e)',
       'Annex-I emissions reduction target',
       'Disaster risk reduction progress score (1-5 scale; 5=best)',
       'GHG net emissions/removals by LUCF (MtCO2e)',
       'Hosted Clean Development Mechanism (CDM) projects',
       'Hosted Joint Implementation (JI) projects',
       'Average annual precipitation (1961-1990, mm)',
       'Issued Certified Emission Reductions (CERs) from CDM (thousands)',
       'Issued Emission Reduction Units (ERUs) from JI (thousands)',
       'Droughts, floods, extreme temps (% pop. avg. 1990-2009)',
       'Average daily min/max temperature (1961-1990, Celsius)',
       'NAMA submission', 'NAPA submission',
       'Latest UNFCCC national communication',
       'Projected annual temperature change (2045-2065, Celsius)',
       'Projected change in annual cool days/cold nights',
       'Projected change in annual hot days/warm nights',
       'Projected annual precipitation change (2045-2065, mm)',
       'Renewable energy target', 'Population below 5m (% of total)',
       'Population in urban agglomerations >1million (%)',
       'Annual freshwater withdrawals (% of internal resources)',
       'Nationally terrestrial protected areas (% of total land area)',
       'Ease of doing business (ranking 1-183; 1=best)',
       'Invest. in energy w/ private participation ($)',
       'Invest. in telecoms w/ private participation ($)',
       'Invest. in transport w/ private participation ($)',
       'Invest. in water/sanit. w/ private participation ($)',
       'Public sector mgmt & institutions avg. (1-6 scale; 6=best)',
       'Paved roads (% of total roads)', 'GDP ($)',
       'GNI per capita (Atlas $)',
       'Ratio of girls to boys in primary & secondary school (%)',
       'Primary completion rate, total (% of relevant age group)',
       'Under-five mortality rate (per 1,000)',
       'Access to improved water source (% of total pop.)',
       'Nurses and midwives (per 1,000 people)',
       'Physicians (per 1,000 people)',
       'Malaria incidence rate (per 100,000 people)',
       'Access to improved sanitation (% of total pop.)',
       'Child malnutrition, underweight (% of under age 5)',
       'Population living below $1.25 a day (% of total)',
       'Population growth (annual %)', 'Population',
       'Urban population growth (annual %)', 'Urban population'], dtype=object)

In [16]:
test_set = test_set[test_set["Series name"].isin(
        ['CO2 emissions per capita (metric tons)',
         'Energy use per capita (kilograms of oil equivalent)',
          'Cereal yield (kg per hectare)'])]

In [17]:
test_set.head(3)

,Country code,Country name,Country region,Series code,Series name,SCALE,year,value
502,CHN,China,East Asia & Pacific,AG.YLD.CREL.KG,Cereal yield (kg per hectare),0,1990,4324.60
533,FRA,France,Europe & Central Asia,AG.YLD.CREL.KG,Cereal yield (kg per hectare),0,1990,6082.60
627,NZL,New Zealand,East Asia & Pacific,AG.YLD.CREL.KG,Cereal yield (kg per hectare),0,1990,5033.90

In [18]:
test_set.shape

(30, 8)

In [19]:
test_set.to_csv('climate-data-melted--debugging_set.csv',index=False)